In [1]:
#多表连接查询

In [4]:
import pandas as pd
import numpy as np
#定义两个数据集合

In [5]:
df1 = pd.DataFrame({'keys':['b','b','a','c','a','a','b'],'data1':np.random.randint(0,10,7)})
df2 = pd.DataFrame({'keys':['a','b','d'],'data2':np.random.randint(0,10,3)})

In [6]:
df1

  keys  data1
0    b      8
1    b      0
2    a      7
3    c      3
4    a      5
5    a      6
6    b      8

In [7]:
df2

  keys  data2
0    a      7
1    b      6
2    d      6

In [8]:
pd.merge(df1,df2)#会使用相同的列名做连接，对不上的字段会丢弃

  keys  data1  data2
0    b      8      6
1    b      0      6
2    b      8      6
3    a      7      7
4    a      5      7
5    a      6      7

In [ ]:
#通过on指定外键，对不上的部分也会丢弃(on ='')
#merge默认使用的内连接，相当于取两个数据集的交集

'''
how定义 outer外连接，inner内连接，left作连接，right右连接

'''